<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css-design/header.css">
    <link rel="stylesheet" href="../css-design/main.css">
    <link rel="shortcut icon" href="../picture/favicon/favicon.ico">
    <title>IUH - Industrial University of Ho Chi Minh City</title>
</head>
<body>
    <div id="page">
        <div class="used-page">
            <header>
                <div class="header-descrip-container">
                    <div class="header-descrip-menu">
                        <div class="header-descrip-menu-left">
                            <ul class="list">
                                <li>
                                    <a href="">E-OFFICE</a>
                                </li>
                                <li>
                                    <a href="">EMAIL</a>
                                </li>
                                <li>
                                    <a href="">LIBRARY-INFORMATION</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-descrip-menu-right">
                            <ul class="list">
                                <li>
                                    <a href="">CONNECT</a>
                                </li>
                                <li>
                                    <a href="">CONTACT</a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="../picture/header-picture/Flag_of_Vietnam.png" alt="" width="30px" height="20px">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="../picture/header-picture/flag_United_Kingdom.png" alt="" width="30px" height="20px">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-logo-container">
                    <div class="header-logo-descrip">
                        <div class="logo-picture">
                            <a href="">
                                <img src="../picture/header-picture/iuh-logo.png" alt="" width="200px">
                            </a>
                        </div>
                        <div class="logo-tittle">
                            <h2>Ministry of Industry and Trade</h2>
                            <h1>INDUSTRIAL UNIVERSITY OF HOCHIMINH CITY</h1>
                            <h3>Innovating, attaining new height - Dynamizing, integrating into the globe</h3>
                        </div>
                    </div>
                </div>
                <div class="header-menu-containner">
                    <div class="og-menu">
                        <ul class="og-menu-descrip">
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">About IUH</a>
                                <ul class="nav-links">
                                    <li>
                                        <a href="">Overview</a>
                                    </li>
                                    <li>
                                        <a href="">Vision - Mission - Objectives</a>
                                    </li>
                                    <li>
                                        <a href="">Staff</a>
                                    </li>
                                    <li>
                                        <a href="">Quality Policy</a>
                                    </li>
                                    <li>
                                        <a href="">Infrastructure</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Academics</a>
                                <ul class="nav-links">
                                    <li>
                                        <a href="">Academic Pages</a>
                                    </li>
                                    <li>
                                        <a href="">International Education</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Admissions</a>
                                <ul class="nav-links">
                                    <li>
                                        <a href="">Undergraduate</a>
                                    </li>
                                    <li>
                                        <a href="">Graduate training</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Research</a>
                            </li>
                            <li>
                                <a href="">Students</a>
                            </li>
                            <li>
                                <a href="">Lecturers</a>
                            </li>
                        </ul>
                        <div class="search-zone">
                            <input type="text" name="" id="">
                            <button>Search</button>
                        </div>
                    </div>
                </div>
                <div class="header-slide-show">
                    <div class="slide-show-container">
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/1.png" alt="" width="960px"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/2.jpg" alt="" width="960px"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/3.gif" alt="" width="960px"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/4.jpg" alt="" width="960px"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/5.jpg" alt="" width="960px"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/6.jpg" alt="" width="960px"></a>
                        </div>
                        <div class="slide">
                            <a href=""><img src="../picture/header-picture/slide-show-picture/7.jpg" alt="" width="960px"></a>
                        </div>
                        <div>
                            <button onclick="plusDivs(-1)">&#10094;</button>
                            <button onclick="plusDivs(1)">&#10095;</button>
                        </div>
                    </div>
                </div>
            </header>
        
            <section class="main">
                <div class="content-container">
                    <div class="content-left">
                        <div class="left-menu">
                            <p>organizational structure</p>
                        <ul>
                            <li>
                                <a href="">leadership</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>leadership</p>
                                    </li>
                                    <li>
                                        <a href="">communist party committee</a>
                                    </li>
                                    <li>
                                        <a href="">board of rectors</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">offices</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>offices</p>
                                    </li>
                                    <li>
                                        <a href="">office of human resoures and administration</a>
                                    </li>
                                    <li>
                                        <a href="">offie of finance and accounting</a>
                                    </li>
                                    <li>
                                        <a href="">office of planning and facility supplies</a>
                                    </li>
                                    <li>
                                        <a href="">office of academic affairs</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">faculies</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>faculties</p>
                                    </li>
                                    <li>
                                        <a href="">faculty of mechanical technology</a>
                                    </li>
                                    <li>
                                        <a href="">faculty of information technology</a>
                                    </li>
                                    <li>
                                        <a href="">faculty of electrical engineering technology</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">instritutes</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>institutes</p>
                                    </li>
                                    <li>
                                        <a href="">institute of biotechnology and food technology</a>
                                    </li>
                                    <li>
                                        <a href="">instritute of environmental science, engineering and management</a>
                                    </li>
                                    <li>
                                        <a href="">science research & technology transfer institute</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">centers</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>centers</p>
                                    </li>
                                    <li>
                                        <a href="">centre of national defence and physical education</a>
                                    </li>
                                    <li>
                                        <a href="">student counseling and support center</a>
                                    </li>
                                    <li>
                                        <a href="">library and information center</a>
                                    </li>
                                    <li>
                                        <a href="">information and communication center</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">iuh campuses</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>iuh campuses</p>
                                    </li>
                                    <li>
                                        <a href="">quang ngai campus</a>
                                    </li>
                                    <li>
                                        <a href="">thanh hoa campus</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">unions</a>
                                <ul class="list-links">
                                    <li class="list-tittle">
                                        <p>unions</p>
                                    </li>
                                    <li>
                                        <a href="">labor union</a>
                                    </li>
                                    <li>
                                        <a href="">communist youth union and student association</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="element">
                            <div class="left-element">
                                <div class="tittle">
                                    <a href="">announcements</a>
                                    <a href="">view all</a>
                                </div>
                                <div class="content">
                                    <a href="">Announcement of the adjusted Organizing Committee and timelines...</a>
                                    <span>20-02-2020</span>
                                </div>
                                <div class="content">
                                    <a href="">Announcement of course registration and tuition payment...</a>
                                    <span>11-11-2011</span>
                                </div>
                            </div>
                            <div class="right-element">
                                <div class="tittle">
                                    <a href="">admission information</a>
                                    <a href="">view all</a>
                                </div>
                                <div class="content">
                                    <a href="">Announcement of admissions for articulationprogram...</a>
                                    <span>04-01-1998</span>
                                </div>
                                <div class="content">
                                    <a href="">Announcement of admissions for the second bachelor's degree...</a>
                                    <span>14-03-2010</span>
                                </div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="left-element">
                                <div class="tittle">
                                    <a href="">news-events</a>
                                    <a href="">view all</a>
                                </div>
                                <div class="content">
                                    <a href="">
                                        <abbr title="Training workshop on devaloping Key Indicators (KPIs)">
                                            <img src="../picture/header-picture/header-content-picture/KPIs.jpg" alt="" width="100%">
                                        </abbr>
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="">Training workshop on devaloping Key Indicators (KPIs)</a>
                                    <span>15-05-2015</span>
                                </div>
                                <div class="content">
                                    <a href="">Training workshop for writing self-assessmentreport at educational...</a>
                                    <span>25-06-2018</span>
                                </div>
                            </div>
                            <div class="right-element">
                                <div class="tittle">
                                    <a href="">cooperative activities</a>
                                    <a href="">view all</a>
                                </div>
                                <div class="content">
                                    <abbr title="Academic Cooperation between IUH and ICAEW">
                                        <img src="../picture/header-picture/header-content-picture/ICAEW.jpg" alt="" width="100%">
                                    </abbr>
                                </div>
                                <div class="content">
                                    <a href="">Academic Cooperation between IUH and ICAEW</a>
                                    <span>03-10-2019</span>
                                </div>
                                <div class="content">
                                    <a href="">International Students at IUH</a>
                                    <span>16-09-2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="school-infor">
                <div class="school-descrip">
                    <div class="school-descrip-left">
                        <div class="school-descrip-content">
                            <div class="school-infor-tittle">
                                <a href="">quang ngai campus</a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="../picture/school-descrip-picture/QuangNgai.jpg" alt="" width="100%">
                                </a>
                            </div>
                        </div>
                        <div class="school-descrip-content">
                            <div class="school-infor-tittle">
                                <a href="">thanh hoa campus</a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="../picture/school-descrip-picture/ThanhHoa.jpg" alt="" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="school-descrip-right">
                        <div class="school-infor-tittle">
                            <h3>videos and photo</h3>
                            <a href="">view all</a>
                        </div>
                        <div class="">
                            <iframe src="https://www.youtube.com/embed/4IIa5PtUQ3Y?rel=0&showinfo=0" frameborder="0" width="300" height="145"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section class="adv-section">

            </section>
            <footer>
                <div class="footer-top">

                </div>
                <div class="footer-bottom">

                </div>
            </footer>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("slide");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
        }
        </script>
</body>
</html>