*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #F1F1F2;
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
}
body{
    font-family: sans-serif;
    line-height: 1.5;
}
#page{
    background: #F1F1F2 url(../picture/body-background.png) scroll center 15px no-repeat;
}